
examples of accreditations/programmeAccreditation_example_old.json
examples of credentials/digicomp-generic.json_updatedExample_toconfirm.json
examples of credentials/Example.json
examples of credentials/Example.json
examples of credentials/Francisco  Cruz Argudo_Certificate of Completion.xml
examples of accreditations/institutionalAccreditation_example_old.json
examples of credentials/Example.json
examples of credentials/Francisco  Cruz Argudo_Certificate of Completion.xml
examples of credentials/Francisco Cruz Argudo_Certificate of Completion.json
examples of credentials/German example/docs/German Higher Education Entrance Qualification.docx
examples of credentials/German example/docs/Verifiable Diploma2 .png
